/* Home.css */

.home-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 20px);
  }
  
  .content-box {
    border: 1px solid #333;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
  }
  
  .title-text {
    color: #333;
  }
  
  .content-text {
    color: #333;
  }
  
  .button-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
 