/* Home.css */

.home-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 20px);
  }
  
  .content-box {
    border: 1px solid #333;
    padding: 80px;
    border-radius: 10px;
    text-align: center;
    width: fit-content;
  }
  
  .title-text {
    color: #333;
    font-size: 2.5em;
    font-weight: 600;
    margin-bottom: 20px;
    margin-top: auto;
  }
  
  .content-text {
    color: #422c2c;
    font-size: 1.2em;
    font-weight: 500;
    margin-bottom: 20px;
  }
  
  .button-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
 